#section1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    padding: 0 0 30px 0;
    background-color: #272727;
}

h1 {
    color: rgb(255, 107, 107);
    font-family: 'Ranchers', cursive;
    letter-spacing: 3px;
}

#section1B {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: fit-content;
    background-color: grey;
    border-radius: 3px;
}

form {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 20px 30px;
    height: fit-content;
}

.input {
    margin: 5px 0 0 0; 
    padding: 5px 0 5px 10px;
    color: rgb(44, 44, 44);
    border-radius: 5px;
    border: 0px;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 16px;
}

.input:focus {
    outline: none;
}

#button {
    width: fit-content;
    padding: 5px 15px;
    border-radius: 7px;
    background-color: #4493fb;
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: ease-in-out .1s;
}

#button:hover {
    background-color: #66a7fa;
}

#button:active{
    background-color:#4493fb;
}

button:focus{
    outline: none;
}

#clearAllButton {
    position: absolute;
    display: none;
    bottom: 0;
    right: 0;
    width: fit-content;
    padding: 5px 15px;
    border-radius: 7px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    background-color: #d0d0d0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: black;
    transition: ease-in-out .1s;
}

#clearAllButton:hover {
    background-color: #aeaeae;
}

#section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    width: 92%;
    margin: 0 0 0 4%;
    padding: 40px 0 0 0;
}

.memeDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    text-align: center;
    padding: 0 0 20px 0;
}

.xButton {
    position: absolute;
    top: -27px;
    right: 0px;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: 1px solid white;
    background-color: rgba(116, 12, 12, 0.584);
    color: white;
    text-align: center;
    transition: ease-in-out .1s;
}

.xButton:hover {
    background-color:rgba(96, 96, 96, 0.584);
}

.xButton:active {
    background-color:rgba(48, 48, 48, 0.584);
}

.topText {
    position: absolute;
    top: 0;
}

#section2 h1 {
    display: unset;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8em;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    text-shadow:2px 2px 0 #000,
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    0px 2px 0 #000,
    2px 0px 0 #000,
    0px -2px 0 #000,
    -2px 0px 0 #000,
    2px 2px 5px #000;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.pic {
    width: 100%;
    margin: 0 0 20px 0;
}

.btmText {
    position: absolute;
    bottom: 20px;
}

@media screen and (min-width: 800px) {

#section1B {
    display: flex;
    flex-direction: column;
    width: 60%;
    background-color: grey;
}

.input {
    font-size: 12px;
}

#section2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
    width: 92%;
    padding: 35px 0 0 0;
}

.memeDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    text-align: center;
    width: 30%;
}
